<AuthorizeView>
    <Authorized>
        <div class="dropdown">
            <button class="dropbtn">Dropdown</button>
            <div class="dropdown-content">
                <a href="/Monster">Monster</a>
                <a href="/Privacy">Privacy</a>
                <a href="/Campaigns">Campaigns</a>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        
    </NotAuthorized>
</AuthorizeView>
