@page "/mycampaigns/createcampaign"
@using Blazority

<br />
<Button @onclick="()=>NavigateToMyCampaigns()">My Campaigns</Button>
<Form Model="@textAreaModel">
<Textarea Label="Campaign Title" @bind-Value="textAreaModel.InputName" style="resize:none;" />
<br />
<Textarea Label="Campaign Description" @bind-Value="textAreaModel.InputDescription" style="resize:none;" />
</Form>
<br />
<Button OnClick="()=>SubmitCampaign()">Create Campaign</Button>
